body {
  font-family: "Montserrat", sans-serif;
}
header {
  background: url("../img/background/section-1-header.jpg") no-repeat center
    fixed;
  background-size: cover;
}
.header-line {
  background-color: rgba(94, 93, 88, 0.6);
}
.header-line-content {
  box-sizing: border-box;
  width: 1200px;
  margin: 0 auto;
  padding: 26px 20px 26px 20px;
  text-align: center;
  display: flex;
  color: #ffffff;
  justify-content: space-between;
}
.header-line-logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
  justify-content: center;
}
.logo-polygon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-polygon-H {
  position: absolute;
  color: #ffffff;
  font-weight: 700;
  font-size: 40px;
}
.logo-text {
  margin-left: 6px;
}
.logo-text-the {
  color: #ffffff;
  font-weight: 400;
  font-size: 32px;
}
.logo-text-Ham {
  color: #18cfab;
  font-weight: 700;
  font-size: 32px;
}
.header-line-nav {
  display: flex;
  flex-direction: row;
  width: 620px;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
.header-line-nav a {
  position: relative;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
.header-line-nav a:hover {
  color: #18cfab;
}
.header-line-nav-item:hover a::after {
  position: absolute;
  display: flex;
  justify-content: space-between;
  content: "";
  border-bottom: 2px solid #18cfab;
  width: 100%;
  bottom: -50px;
}

.header-title {
  box-sizing: border-box;
  width: 1200px;
  margin: 0 auto;
  padding: 264px 20px 243px 20px;
  text-align: center;
}
.header-title-text {
  display: block;
}
.header-title-text h2 {
  font-size: 35px;
  text-transform: uppercase;
  display: inline-block;
}
.header-title-text h2:first-child {
  color: #ffffff;
}
.header-title-text h2:last-child {
  color: #18cfab;
  margin-left: 10px;
}
.header-title h1 {
  color: #ffffff;
  font-size: 78px;
  text-transform: uppercase;
  margin-top: 21px;
}
.header-title p {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 35px;
  margin-top: 21px;
}
.header-btn {
  margin-top: 134px;
}
.header-btn a:first-child {
  margin-right: 13px;
}
.header-btn a:last-child {
  margin-left: 13px;
}
.header-btn a {
  display: inline-block;
  box-sizing: border-box;
  width: 168px;
  text-decoration: none;
  border-top: 5px solid #ffffff;
  border-radius: 3px;
  padding: 24px 0 24px 0;
}
.header-btn a span {
  font-size: 15px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}
.header-btn-explor {
  background-color: #18cfab;
}
.header-btn-explor:hover {
  background-color: #11a98a;
}
.header-btn-purchase {
  background-color: #00cbf6;
}
.header-btn-purchase:hover {
  background-color: #0da1bf;
}

/*******************************/
/*             Menu            */
/*******************************/

.main-menu {
  display: grid;
  width: 100%;
  font-weight: 700;
  font-size: 20px;
  margin-top: 10px;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 377px;
  grid-template-areas: "item1 item2 item3 item4";
}
.main-menu-item1 {
  background-color: #1c2a33;
  grid-area: item1;
}
.main-menu-item2 {
  background-color: #18cfab;
  grid-area: item2;
}
.main-menu-item3 {
  background-color: #1c2a33;
  grid-area: item3;
}
.main-menu-item4 {
  background-color: #18cfab;
  grid-area: item4;
}
.main-menu li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-transform: uppercase;
}
.main-menu li a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #ffffff;
  justify-content: center;
  align-items: center;
}
.main-menu li span {
  margin-top: 48px;
}

/*******************************/
/*         Our Services        */
/*******************************/

.main-services {
  box-sizing: border-box;
  width: 1200px;
  margin: 0 auto;
  padding: 127px 20px 127px 20px;
  text-align: center;
}
.main-services-title {
  position: relative;
  font-size: 36px;
  color: #4e4e4e;
  margin-top: 81px;
}
.main-services-title::before {
  position: absolute;
  content: " ";
  width: 78px;
  top: 70px;
  left: 60px;
  border-bottom: 1px solid #18cfab;
}
.main-services-title::after {
  position: absolute;
  content: " ";
  width: 78px;
  top: 74px;
  left: 75px;
  border-bottom: 1px solid #18cfab;
}

.main-services-content {
  display: none;
}
.main-services-tabs-content {
  margin-top: 30px;
  font-size: 14px;
  line-height: 24px;
  color: #777777;
  text-align: start;
  height: 140px;
}
.main-services-content.content-active {
  display: block;
}
.main-services-tabs {
  display: flex;
  margin-top: 100px;
}
.main-services-tabs-title {
  display: flex;
  padding-top: 28px;
  padding-bottom: 28px;
  width: 240px;
  justify-content: center;
  border: 1px solid #f2f2f2;
  background-color: #f8fcfe;
  color: #717171;
  cursor: pointer;
}
.main-services-tabs-title:hover {
  border: 1.5px solid #18cfab;
}
.main-services-tabs-title.active {
  position: relative;
  background-color: #18cfab;
  color: #ffffff;
}
.main-services-tabs-title.active::after {
  display: block;
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  background-color: #18cfab;
  bottom: -10px;
  left: 104px;
}
.main-services-content img {
  float: left;
  margin-right: 15px;
}

/***********************************/
/*  Everything is ready. Purchase  */
/***********************************/

.main-purchase-background {
  position: relative;
  background: url("../img/background/section-2.jpg") no-repeat center scroll;
  background-size: cover;
}
.main-purchase-background::after {
  content: "";
  background-color: black;
  opacity: 0.8;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}
.main-purchase {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  padding: 127px 20px 127px 20px;
  text-align: center;
  z-index: 2;
}
.main-purchase h2 {
  font-size: 40px;
  text-transform: uppercase;
  color: #18cfab;
}
.main-purchase span {
  display: block;
  font-weight: 400;
  font-size: 16px;
  color: #d8d8d8;
  margin-top: 25px;
}
.main-purchase-btn {
  display: inline-block;
  background-color: #18cfab;
  color: #ffffff;
  width: 168px;
  padding: 24px 0 24px 0;
  text-decoration: none;
  text-transform: uppercase;
  border-top: 5px solid #ffffff;
  border-radius: 3px;
  margin-top: 67px;
  font-weight: 700;
  font-size: 15px;
}
.main-purchase-btn:hover {
  background-color: #11a98a;
}

/******************************/
/*          main-work         */
/******************************/

.main-work-background {
  background-color: #e9edef;
}
.main-work {
  box-sizing: border-box;
  width: 1200px;
  margin: 0 auto;
  padding: 100px 20px 100px 20px;
  text-align: center;
}
.main-work-title {
  position: relative;
  font-size: 36px;
  color: #4e4e4e;
}
.main-work-title::before {
  position: absolute;
  content: " ";
  width: 78px;
  top: 70px;
  left: 120px;
  border-bottom: 1px solid #18cfab;
}
.main-work-title::after {
  position: absolute;
  content: " ";
  width: 78px;
  top: 75px;
  left: 135px;
  border-bottom: 1px solid #18cfab;
}

.main-work-conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-work-content {
  display: grid;
  margin-top: 70px;
  grid-template-areas:
    "item1 item2 item3 item4"
    "item5 item6 item7 item8"
    "item9 item10 item11 item12";
}
.work-item1 {
  grid-area: item1;
}
.work-item2 {
  grid-area: item2;
}
.work-item3 {
  grid-area: item3;
}
.work-item4 {
  grid-area: item4;
}
.work-item5 {
  grid-area: item5;
}
.work-item6 {
  grid-area: item6;
}
.work-item7 {
  grid-area: item7;
}
.work-item8 {
  grid-area: item8;
}
.work-item9 {
  grid-area: item9;
}
.work-item10 {
  grid-area: item10;
}
.work-item11 {
  grid-area: item11;
}
.work-item12 {
  grid-area: item12;
}
.hide {
  display: none;
}

.main-work-tab {
  display: flex;
  font-size: 14px;
  margin-top: 100px;
}
.main-work-tab li {
  display: flex;
  height: 58px;
  align-items: center;
  border: 1px solid #dadada;
  color: #717171;
  cursor: pointer;
  padding-left: 15px;
  padding-right: 15px;
}

.main-work-tab li.btn-active {
  border: 2px solid #18cfab;
  color: #18cfab;
}

.main-work-load-btn {
  box-sizing: border-box;
  background-color: #18cfab;
  color: #ffffff;
  width: 168px;
  height: 63px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 3px;
  border: none;
  text-align: center;
  font-weight: 700;
  font-size: 15px;
  margin-top: 70px;
}
.main-work-load-btn:hover {
  background-color: #11a98a;
}
.main-work-load-btn::before {
  content: "+";
  color: #ffffff;
  margin-right: 15px;
  position: relative;
  top: 5px;
  font-size: 25px;
}

.img-style {
  outline: 1px solid #ffffff;
}
.main-work-content li {
  position: relative;
}
.show {
  display: none;
}
.main-work-content li:hover .show {
  display: block;
}
.box {
  position: absolute;
  display: flex;
  width: 285px;
  height: 211px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #18cfab;
  color: #18cfab;
  background-color: #e9edef;
  top: 0;
  left: 0;
}
.box span:nth-child(2) {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  margin-top: 30px;
}
.box span:last-child {
  color: #8a8a8a;
  font-size: 12px;
  margin-top: 10px;
}

/******************************/
/*       Breaking News        */
/******************************/

.main-breaking-news {
  box-sizing: border-box;
  width: 1200px;
  margin: 0 auto;
  padding: 80px 20px 130px 20px;
  text-align: center;
  background-color: #ffffff;
}
.main-breaking-news-title {
  position: relative;
  font-size: 36px;
  color: #4e4e4e;
}
.main-breaking-news-title::before {
  position: absolute;
  content: " ";
  width: 78px;
  top: 70px;
  left: 90px;
  border-bottom: 1px solid #18cfab;
}
.main-breaking-news-title::after {
  position: absolute;
  content: " ";
  width: 78px;
  top: 75px;
  left: 105px;
  border-bottom: 1px solid #18cfab;
}
.main-breaking-news-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 45px;
  column-gap: 35px;
  margin-top: 140px;
  grid-template-areas:
    "item1 item2 item3 item4"
    "item5 item6 item7 item8";
}

.main-breaking-news-content li a {
  position: relative;
  display: flex;
  color: #717171;
  font-weight: 700;
  font-size: 18px;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}
.main-breaking-news-text {
  margin-top: 10px;
}
li:hover .main-breaking-news-text {
  color: #18cfab;
}
.main-breaking-news-text2 {
  position: relative;
  display: flex;
  width: 180px;
  justify-content: space-between;
  margin-top: 10px;
}
.main-breaking-news-admin {
  display: flex;
  color: #777777;
  font-weight: 400;
  font-size: 14px;
}
.main-breaking-news-text2::before {
  position: absolute;
  content: "";
  border-right: 1px solid #777777;
  height: 14px;
  top: 0;
  left: 83px;
}
.main-breaking-news-date {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 70px;
  height: 70px;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
  color: #ffffff;
  background-color: #203e38;
  top: 0;
  right: 0;
}
li:hover .main-breaking-news-date {
  background-color: #18cfab;
}

/********************************/
/* What People Say About theHam */
/********************************/

.main-comments-background {
  position: relative;
  background: url("../img/background/section-3.jpg") no-repeat center scroll;
  background-size: cover;
  z-index: 1;
}

.main-comments {
  box-sizing: border-box;
  width: 1200px;
  margin: 0 auto;
  padding: 100px 20px 100px 20px;
  text-align: center;
}
.main-comments::before {
  content: "";
  background-color: black;
  opacity: 0.3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}
.main-comments-title span {
  position: relative;
  font-size: 36px;
  line-height: 40px;
  color: #ffffff;
  z-index: 2;
}

.main-comments-title span::before {
  position: absolute;
  content: " ";
  width: 78px;
  top: 70px;
  left: 215px;
  border-bottom: 1px solid #18cfab;
}
.main-comments-title span::after {
  position: absolute;
  content: " ";
  width: 78px;
  top: 75px;
  left: 230px;
  border-bottom: 1px solid #18cfab;
}

.main-comments p {
  display: flex;
  width: 1200px;
  line-height: 30px;
  color: #bbbbbb;
  margin-top: 36px;
  margin-bottom: 37px;
  text-align: center;
  z-index: 2;
}
.main-comments > img {
  margin-top: 100px;
}

/******************************/
/*            slider          */
/******************************/

.main-slider-info {
  position: relative;
  z-index: 2;
}

.main-info-person.info-active {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-info-person {
  display: none;
}

.name::after {
  position: absolute;
  bottom: -11px;
  left: -11px;
  width: 141px;
  height: 141px;
  content: "";
  border: 12px solid #1fdab5;
  border-radius: 95px;
  mix-blend-mode: normal;
  opacity: 0.2;
}
.name {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.name span:first-child {
  font-weight: 700;
  color: #18cfab;
  text-transform: uppercase;
}
.name span:nth-child(2) {
  color: #bbbbbb;
  margin-top: 15px;
  margin-bottom: 50px;
  font-size: 14px;
}

.main-slider-block2 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
  z-index: 2;
}

.main-slider-btn {
  width: 31px;
  height: 31px;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #bbbbbb;
}
.main-slider-btn:hover {
  background-color: #18cfab;
}
.main-slider-btn.left::before {
  content: "<";
  color: #bbbbbb;
  font-size: 20px;
}
.main-slider-btn.right::before {
  content: ">";
  color: #bbbbbb;
  font-size: 20px;
}
.main-slider-line {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 372px;
  transition: all ease 1s;
  margin: 0 100px 0 100px;
}
.main-line-person {
  position: relative;
  display: flex;
}
.main-line-person.line-active {
  top: -15px;
  transition: all ease 1s;
}
.main-line-person::after {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: -6px;
  left: -6px;
  content: "";
  border: 6px solid #1fdab5;
  border-radius: 36px;
  mix-blend-mode: normal;
  opacity: 0.2;
}

.main-slider-person {
  display: flex;
  flex-direction: column;
}

/******************************/
/*   gallary of best images   */
/******************************/

.main-best-images {
  box-sizing: border-box;
  width: 1200px;
  height: auto;
  margin: 0 auto;
  padding: 100px 20px 70px 20px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.0001);
}
.main-best-images-conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-best-images-title {
  position: relative;
  font-size: 36px;
  color: #4e4e4e;
}
.main-best-images-title::before {
  position: absolute;
  content: " ";
  width: 78px;
  top: 70px;
  left: 120px;
  border-bottom: 1px solid #18cfab;
}
.main-best-images-title::after {
  position: absolute;
  content: " ";
  width: 78px;
  top: 75px;
  left: 135px;
  border-bottom: 1px solid #18cfab;
}

.galery {
  overflow: hidden;
  width: 100%;
  margin-top: 115px;
}
.galery-item {
  position: relative;
}

.galery-item img {
  width: 200px;
  height: auto;
}

.main-best-images-load-btn {
  display: flex;
  background-color: #18cfab;
  color: #ffffff;
  width: 168px;
  height: 63px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 3px;
  border: none;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 15px;
  margin-top: 70px;
}
.main-best-images-load-btn:hover {
  background-color: #11a98a;
}
.main-best-images-load-btn::before {
  display: flex;
  content: "+";
  color: #ffffff;
  margin-right: 15px;
  font-size: 20px;
}

/******************************/
/*          loader            */
/******************************/

.main-best-images-btn {
  display: flex;
  margin-top: 20px;
  align-items: center;
  flex-direction: column;
}

#preolad {
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #bbbbbb;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/******************************/
/*           footer           */
/******************************/

footer {
  box-sizing: border-box;
  text-align: center;
  padding: 50px 0 50px 0;
  background-color: #22353f;
  font-size: 14px;
}
.copy {
  color: #aeaeae;
}
.copy span:nth-child(2) {
  position: relative;
  color: #18cfab;
  margin-left: 3px;
}
.copy span:last-child {
  margin-left: 5px;
}
.copy span:nth-child(2)::after {
  position: absolute;
  content: "";
  border-right: 1px solid #aeaeae;
  height: 12px;
  right: -5px;
  color: #aeaeae;
}
